* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body {
    width: 100vw;
}
/* header */
header {
    background-color: #0084fd;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 20px;

}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo img {
    max-width: 100%;

}

.logo {
    width: 20%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#menu-mobile i {
    font-size: 25px;
    
}

#menu-desktop {
    display: none;
}

#menu-desktop ul li {
    
        list-style-type: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 5px;
    
}

.button {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 3px 5px;

} 

/* parte responsive header */
@media screen and (min-width:1024px)  { 
    #menu-mobile {
        display:none
    }
    #menu-desktop {
        display: block;
        font-size: 0.8rem;
    }
}

/* section app */

#immagine-telefono {
    margin: 0 auto;
    width: 75%;

}

#immagine-telefono img {
    max-width: 100%;
    
}

.block {
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #b5ddff;
    padding: 5% 5%;
    border-radius: 20px;
    text-align: center;
   

    
    
}

.block h2 {
    color: #2194fd;
    margin-bottom: 20px;

}

.block p {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;

}

.block.demo {
    padding-bottom: 0%
   
    
    
}

.block.demo p {
    text-align: left;
}

.button.blu {
    background-color: #0084fd;
    padding: 5px 30px;
    color: white;
    margin-bottom: 20px;
    
}

.block .symble {
    font-size: 60px;
    color: #0084fd;
}

/* parte responsive parte app */

@media screen and (min-width:768px)  {
    #app-store .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0px
        ;
    }

    #immagine-telefono {
        width: 70%;
    
    }

    .block {
        width: 30%;
    }
    
    .block.demo { 
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: start;
    } 

    .block code {
        width: 33%;
    }
    
    

    
} 

@media screen and (min-width:1024px)  {
    .block.demo {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #demo-istructions {
        width: 50%;
        
    }

    #immagine-telefono {
        width: 40%;
        align-self:flex-end;
       
        
    }
    
    }